/* tweets */

.tweets-container {
  display: flex;
  flex-direction: column;
}

.tweet-card {
  display: inline-block;
  width: 600px;
  max-width: 100%;
  text-align: left;
  margin: 30px;
  border-radius: 1em;
  padding: 20px;
  border: solid #ddd 1px;
}

.tweet-card-head {
  display: flex;
  align-items: center;
}

img.profile-pic {
  height:50px;
  margin-right: 20px;
  vertical-align: top;
}

.tweet-user-name-container {
  display: inline-block;
}

.twitter-user-name {
  font-weight: bold;
  font-size: 1.2em;
}

.twitter-handle {
  color: gray;
  display: block;
}

.tweet-card-body {
  border-bottom: solid #ddd 1px;
  margin-bottom: 5px;
}

.tweet-text {
  font-size: 1.8em;
}

.tweet-card-foot {

}

.twitter-icon {
  height: 15px;
  margin: 0 20px 0 20px;
}

.twitter-stats {
  display: inline;
  margin-right: 10px;
}

/* surveys */

.survey-form input[type="submit"] {
  margin: 20px 0 40px 0;
  background-color: #007bff;
  border-radius: .4em;
  border: none;
  padding: .6em;
  color: white;
}

.survey-card {
  text-align: left;
}

.survey-label {
  border-bottom: solid gray 1px;
}

input[type="radio"] {
  margin: 10px;
}

textarea {
  display: block;
  width: 600px;
  height: 200px;
  max-width: 100%;
}

.field-label {
  margin: 10px;
}

/* students */

.student-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-card {
  display: inline-block;
  border: solid black 1px;
  width: 300px;
  margin: 20px;
}

.absent {
  background-color: #B44;
}

.present {
  background-color: #4B4;
}

.student-card h2 {
  margin-top: 20px;
}

.student-card .status {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

/* restaurants */

.restaurant-card {
  font-weight: bold;
  background-color: #ddd;
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: left;
}

.restaurant-name {
  margin: 0;
  font-weight: bolder;
}

.restaurant-type {
  margin: 0;
  color: gray;
}

.restaurant-price {
  color: green;
  font-size: 2em;
}

/* poker hand */

.playing-card {
  display: inline-block;
  width: 12vw;
  max-width: 100px;
  padding: 2px;
}

  /* nametags */

.name-card {
  display: inline-block;
  width: 35em;
  font-size: 1.3vw;
  border: solid gray 1px;
  margin: 1em;
  font-weight: bold;
}

.name-card-banner {
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  padding: .5em;
  background-color: blue;
  color: white;
}

.name-card-label {
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  padding: 1.5em;
}


/* movies */

.movie-container {
  border: solid #ddd 1.2em;
  border-radius: .6em;
  background-color: #ddd;
  width: 30em;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  font-size: 2.5vw;
}

.movie-poster {
  width: 10em;
  margin-right: 1em;
  object-fit: cover;
}

.movie-description {
  width: 16em;
  background-color: white;
  border: solid white 1em;
  border-radius: .5em;
  flex-grow: 2;
  text-align: left;
  font-size: .9em;
}

h2.movie-title {
  font-size: 1.8em;
}

p.movie-year {
  font-size: 1.2em;
  font-weight: bold;
}

h3.rating {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
  margin-top: 1em;
}

p.rating {
  font-size: 1.5em;
  margin: 0;
}

/* circles */

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  margin: .2em;
  clip-path: circle(50% at 50% 50%);
}

/* albums */
h1 {
  margin-bottom: 1em;
  text-transform: uppercase;
  border-bottom: solid #ddd 2px;
}

hr.postH1 {
  margin-top: 0;
  margin-bottom: 2em;
}

h2.album {
  font-size: 1.5em;
}

.album img,.album h2 {
  display: inline;
  vertical-align: bottom;
}
.album img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.album h2 {
  margin-left: 1em;
}

.songs {
  margin: 1em 0 1em 0;
}

.song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em;
  border-top: solid #ddd 1px;
}

.song:last-child {
  border-bottom: solid #ddd 1px;
}

.song img {
  width: 1em;
  height: 1em;
  margin-right: 1em;
}

.song .song-title {
  flex-grow: 2;
}
